@import "variables";

html {
  overflow: hidden!important;
  font-size: 13px!important;
}

.ign-drawer-background-dark {
  background-color: $ign-dark!important;
}

.ign-drawer-background-light {
}

.ign-toolbar-background-dark {
  background-color: $ign-secondary-dark!important;
}

.ign-toolbar-background-light {
}

.ign-default-background-dark {
  background-color: $ign-secondary-dark!important;
}

.ign-default-background-light {
}


.ign-toolbar-logo {
  width: 32px;
  height: 32px;
}

.ign-avatar {
  position: relative;
  z-index: 1;
  width: 40px;
  height: 40px;
  text-align: center;
  justify-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: $ign-primary;
  img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

}

.ign-avatar-small {
  font-size: 13px;
  font-weight: 400;
  height: 24px;
  width: 24px;
  background: $ign-meeting;
  color: $ign-white;
  box-shadow: rgb(24, 34, 45) 0px 0px 0px 2.88px;
  z-index: 2;
  border-radius: 50%;
  cursor: pointer;
}

.ign-item {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 4px;
  margin-bottom: 4px;
}

.ign-item:hover:not(.ign-active) {
  background-color: $ign-secondary-dark;
}

.ign-item-info-wrap {
  flex: 1;
  min-width: 0;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  padding: 0 0 0 16px;
}

.ign-item-info-row {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;

  .ign-title {
    flex: 1;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .ign-second-line {
    padding: 0;
    color: $ign-color-opacity-more;
    font-size: 13px;
    font-weight: 400;
    text-align: left;
  }

}

.ign-active {
  background-color: $ign-primary
}

.ign-post-left-item {
  display: inline-block;
  margin-left: 54px;
  background-color: $ign-secondary-dark;
  border-radius: 4px;
  box-sizing: border-box;
  color: rgb(248, 249, 250);
  font-size: 13.008px;
  font-weight: 400;
  min-height: 45px;
  line-height: 19.512px;
  padding: 12px 16px;
  text-align: left;
}

.ign-post-right-item {
  display: inline-block;
  margin-left: auto;
  background-color: $ign-primary;
  border-radius: 4px;
  box-sizing: border-box;
  color: rgb(248, 249, 250);
  font-size: 13.008px;
  font-weight: 400;
  min-height: 45px;
  line-height: 19.512px;
  padding: 12px 16px;
  text-align: left;
}
