@import "variables";

html {
  overflow: hidden!important;
  overflow-y: hidden!important;
}

.ign-drawer-background-dark {
  background-color: $ign-dark!important;
}

.ign-drawer-background-light {
}

.ign-toolbar-background-dark {
  background-color: $ign-secondary-dark!important;
}

.ign-toolbar-background-light {
}

.ign-toolbar-logo {
  width: 32px;
  height: 32px;
}
