@import "variables";

html {
  overflow: hidden!important;
}

body {
  font-family: $ign-font-family-sans-serif;
}

.ign-drawer-background-dark {
  background-color: $ign-dark!important;
}

.ign-drawer-background-light {
}

.ign-toolbar-background-dark {
  background-color: $ign-secondary-dark!important;
}

.ign-toolbar-background-light {
}

.ign-default-background-dark {
  background-color: $ign-secondary-dark!important;
}

.ign-default-background-light {
}


.ign-toolbar-logo {
  width: 32px;
  height: 32px;
}

.ign-conversation-avatar {
  position: relative;
  z-index: 1;
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  text-align: center;
  justify-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: $ign-meeting;
  img {
    border-radius: 50%;
    width: inherit;
    height: inherit;
  }
}


.ign-avatar {
  position: relative;
  z-index: 1;
  width: 40px;
  height: 40px;
  text-align: center;
  justify-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: rgb(252, 252, 252) 0 0 0 2.88px;
  background-color: $ign-primary;
  img {
    border-radius: 50%;
    width: inherit;
    height: inherit;
  }
}

.ign-avatar-small {
  font-size: 13px;
  font-weight: 400;
  height: 24px;
  width: 24px;
  background: $ign-meeting;
  color: $ign-white;
  box-shadow: rgb(24, 34, 45) 0 0 0 2.88px;
  z-index: 2;
  border-radius: 50%;
  cursor: pointer;
}

.ign-item {
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
  margin-bottom: 4px;
}

.ign-item:hover:not(.ign-active) {
  background-color: $ign-secondary-dark;
}

.ign-active {
  background-color: $ign-primary
}

.ign-post-left-item {
  display: inline-block;
  margin-left: 54px;
  background-color: $ign-secondary-dark;
  border-radius: 4px;
  box-sizing: border-box;
  color: rgb(248, 249, 250);
  font-size: 13.008px;
  font-weight: 400;
  min-height: 45px;
  line-height: 19.512px;
  padding: 12px 16px;
  text-align: left;
}

.ign-post-right-item {
  display: inline-block;
  margin-left: auto;
  background-color: $ign-primary;
  border-radius: 4px;
  box-sizing: border-box;
  color: rgb(248, 249, 250);
  font-size: 13.008px;
  font-weight: 400;
  min-height: 45px;
  line-height: 19.512px;
  padding: 12px 16px;
  text-align: left;
}
