
$ign-dark: #18222d;
$ign-secondary-dark: #213040;
$ign-blue: #1886d8;
$ign-blue-light: #2ea6ff;
$ign-indigo: #6610f2;
$ign-purple: #6f42c1;
$ign-pink: #e83e8c;
$ign-red: #dc3545;
$ign-orange: #fd7e14;
$ign-yellow: #ffc107;
$ign-green: #28a745;
$ign-teal: #20c997;
$ign-cyan: #17a2b8;
$ign-white: #fff;
$ign-gray: #6c757d;
$ign-gray-dark: #343a40;
$ign-primary: #3d6a97;
$ign-secondary: #3b4758;
$ign-success: #28a745;
$ign-meeting: #5699cd;
$ign-info: #17a2b8;
$ign-warning: #ffc107;
$ign-danger: #dc3545;
$ign-light: #f8f9fa;

$ign-color-opacity-middle: rgba(255,255,255, 0.5);
$ign-color-opacity-more: rgba(255,255,255, 0.75);

$ign-padding-normal: 16px;

$ign-font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$ign-font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$ign-readable-width: 850px;
$ign-header-height: 82px;
